<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaxSecurityApp"
        tools:targetApi="31">
        <activity
            android:name=".NavigationViewReportesActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationViewAmigosActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".ActualizarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".MapaDeCalorActivity"
            android:exported="false" />
        <activity
            android:name=".CompartirUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".SolicitudesAmistadEnviadasActivity"
            android:exported="false" />
        <activity
            android:name=".EnviarSolicitudAmistadActivity"
            android:exported="false" />
        <activity
            android:name=".SolicitudesAmistadActivity"
            android:exported="false" />
        <activity
            android:name=".VerAmigosActivity"
            android:exported="false" />
        <activity
            android:name=".AmigosActivity"
            android:exported="false" />
        <activity
            android:name=".MiPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".RestablecerContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".IngresarCorreoRecuperacionActivity"
            android:exported="false" />
        <activity
            android:name=".CodigoRecuperacionActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialReportesActivity"
            android:exported="false" />
        <activity
            android:name=".EnviarReporteActivity"
            android:exported="false" />
        <activity
            android:name=".ReportesActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>